* {
  box-sizing: border-box;
}
html,
body {
  font-size: 20px;
  /* font-weight: bold; */
}
.label {
  margin: 20px auto;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}
.centered {
  text-align: center;
}
.small {
  font-size: 0.8rem;
}
.container {
  margin-bottom: 60px;
  /* height: 100vh; */
}
.box {
  margin: 0;
  padding: 0.5rem;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px rgba(0,0,0,0.2);
}
.box1 {
  background-color: #1abc9c;
}
.box2 {
  background-color: #3498db;
}
.box3 {
  background-color: #9b59b6;
}
.box4 {
  background-color: #34495e;
}
.box5 {
  background-color: #f1c40f;
}
.box6 {
  background-color: #e67e22;
}
.box7 {
  background-color: #e74c3c;
}
.box8 {
  background-color: #bdc3c7;
}
.box9 {
  background-color: #2ecc71;
}
.box10 {
  background-color: #16a085;
}
.box11 {
  background-color: #a9f17c;
}
.box12 {
  background-color: #aa00c8;
}
.box-XS {
  font-size: .5rem;
}
.box-S {
  font-size: 1rem;
}
.box-L {
  font-size: 1.5rem;
}
.box-XL {
  font-size: 2rem;
}
